

<!-- Toolbar -->
<p>
  <mat-toolbar>
    <span>Weather</span>
    <nav>
      <a mat-button  routerLink="/today">Today</a>
      <a mat-button routerLink="/tomorrow">Tomorrow</a>
      <a mat-button routerLink="/tendays">Forecast for the Week</a>
    </nav>
    <span class="example-spacer"></span>
    <span *ngIf="city" style="padding-right: 10px;">{{ city[0].name }}</span>
    <form [formGroup]="checkoutForm" class="example-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label></mat-label>
        <!-- <input matInput placeholder="Ex. Pizza" > -->
        <input matInput id="location" type="text" formControlName="location">
      </mat-form-field>
      <button mat-button  type="submit">Submit</button>
    </form>
    
  </mat-toolbar>
</p>


<router-outlet></router-outlet>
